In [1]:
#list

#tuple
#dict
#set
#strings

In [2]:
details=['Yash','Saxena',32,'India',6.0,8979]

In [3]:
details.append('Berlin')

In [4]:
details

['Yash', 'Saxena', 32, 'India', 6.0, 8979, 'Berlin']

In [5]:
#Indexing 
details[0]

'Yash'

In [6]:
details[1]

'Saxena'

In [8]:
details[2]=33 #mutablity

In [17]:
details[]

['Yash', 'Saxena', 33, 'India', 6.0, 8979, 'Berlin']

In [5]:
#Slicing 

details[::2]

['Yash', 32, 6.0, 'Berlin']

In [10]:
num=[1,2,3,4]

In [11]:
num*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
#Repeatability

In [18]:
#Tuples 

#faster in execution
#tuples are immutable

In [7]:
details_tuple=('Yash', 'Saxena', 33, 'India', 6.0, 8979, 'Berlin')

In [22]:
type(details_tuple)

tuple

In [23]:
type(details)

list

In [24]:
#indexing
details_tuple[0]

'Yash'

In [25]:
#slicing
details_tuple[0:5]

('Yash', 'Saxena', 33, 'India', 6.0)

In [26]:
#repeatbility
details_tuple*2

('Yash',
 'Saxena',
 33,
 'India',
 6.0,
 8979,
 'Berlin',
 'Yash',
 'Saxena',
 33,
 'India',
 6.0,
 8979,
 'Berlin')

In [29]:
#mutability
details_tuple[2]=34

TypeError: 'tuple' object does not support item assignment

In [30]:
#functions 

details_tuple.index('India')

3

In [31]:
details_tuple

('Yash', 'Saxena', 33, 'India', 6.0, 8979, 'Berlin')

In [32]:
details_tuple.count(33)

1

In [33]:
details_tuple.count(44)

0

In [8]:
details_tuple[::-1]

('Berlin', 8979, 6.0, 'India', 33, 'Saxena', 'Yash')

In [35]:
details_tuple

('Yash', 'Saxena', 33, 'India', 6.0, 8979, 'Berlin')

In [37]:
details.pop(1)

'Saxena'

In [38]:
details

['Yash', 33, 'India', 6.0, 8979, 'Berlin']

In [43]:
len(details_tuple)

7

In [44]:
details_tuple

('Yash', 'Saxena', 33, 'India', 6.0, 8979, 'Berlin')

In [45]:
details_tuple[::3]

('Yash', 'India', 'Berlin')

In [46]:
#Change list to tuple and  vice versa

details_tuple

('Yash', 'Saxena', 33, 'India', 6.0, 8979, 'Berlin')

In [47]:
temp=list(details_tuple)

In [49]:
temp[2]=34

In [50]:
details_tuple=tuple(temp)

In [51]:
details_tuple

('Yash', 'Saxena', 34, 'India', 6.0, 8979, 'Berlin')

In [ ]:
enumerate
zip

In [ ]:
#Dictionary : collection of key value pairs

In [52]:
details

['Yash', 33, 'India', 6.0, 8979, 'Berlin']

In [53]:
details_tuple

('Yash', 'Saxena', 34, 'India', 6.0, 8979, 'Berlin')

In [54]:
details_dict={'Name':'Yash Saxena',
             'Age':33,
             'Country':'India',
             'Height':6.0,
             'Mob':9634,
             'CurrentCity':'Berlin'}

In [55]:
details_dict

{'Name': 'Yash Saxena',
 'Age': 33,
 'Country': 'India',
 'Height': 6.0,
 'Mob': 9634,
 'CurrentCity': 'Berlin'}

In [57]:
details_dict['Name']

'Yash Saxena'

In [ ]:
EmployeeDetails

Name  Age
Varun  30
Sam    31
Yash   32

In [12]:
details_emp={'Name':['Varun','Sam','Yash'],
            'Age':[30,31,32]}

In [ ]:
#pandas : dataframe

In [66]:
details_emp['Age'][2]

32

In [68]:
details_dict['Email']="abc@abc.com"  #Add a new element

In [69]:
details_dict

{'Name': 'Yash Saxena',
 'Age': 33,
 'Country': 'India',
 'Height': 6.0,
 'Mob': 9634,
 'CurrentCity': 'Berlin',
 'Email': 'abc@abc.com'}

In [70]:
details_dict['Age']=34

In [71]:
details_dict

{'Name': 'Yash Saxena',
 'Age': 34,
 'Country': 'India',
 'Height': 6.0,
 'Mob': 9634,
 'CurrentCity': 'Berlin',
 'Email': 'abc@abc.com'}

In [72]:
details_dict.keys()  #Getting all the keys

dict_keys(['Name', 'Age', 'Country', 'Height', 'Mob', 'CurrentCity', 'Email'])

In [73]:
details_dict.values() #Extracting all the values

dict_values(['Yash Saxena', 34, 'India', 6.0, 9634, 'Berlin', 'abc@abc.com'])

In [74]:
details_dict.pop('Email') #Remove an element

'abc@abc.com'

In [75]:
details_dict

{'Name': 'Yash Saxena',
 'Age': 34,
 'Country': 'India',
 'Height': 6.0,
 'Mob': 9634,
 'CurrentCity': 'Berlin'}

In [ ]:
#Indexing  X

#Slicing   X

#Repeatition  X 

#Mutability   yes

In [9]:
details_dict={'Name': 'Yash Saxena',
 'Age': 34,
 'Country': 'India',
 'Height': 6.0,
 'Mob': 9634,
 'CurrentCity': 'Berlin',
'Name':'Sameer',
"":"blank"}

In [10]:
details_dict

{'Name': 'Sameer',
 'Age': 34,
 'Country': 'India',
 'Height': 6.0,
 'Mob': 9634,
 'CurrentCity': 'Berlin',
 '': 'blank'}

In [13]:
details_emp

{'Name': ['Varun', 'Sam', 'Yash'], 'Age': [30, 31, 32]}

In [14]:
details_emp['Name'][:2]

['Varun', 'Sam']

In [84]:
details_dict['']

'blank'

In [90]:
details_emp={'Name': ['Varun', 'Sam', 'Yash'], 
             'Age': [30, 31, 32],
            'Company':['ABC']*3}

In [91]:
details_emp

{'Name': ['Varun', 'Sam', 'Yash'],
 'Age': [30, 31, 32],
 'Company': ['ABC', 'ABC', 'ABC']}

In [15]:
details_dict

{'Name': 'Sameer',
 'Age': 34,
 'Country': 'India',
 'Height': 6.0,
 'Mob': 9634,
 'CurrentCity': 'Berlin',
 '': 'blank'}

In [16]:
val="Berlin"

In [17]:
def GetKeyFromValue(d,val):
    for k,v in d.items():
        if v==val:
            return k

In [18]:
details_dict

{'Name': 'Sameer',
 'Age': 34,
 'Country': 'India',
 'Height': 6.0,
 'Mob': 9634,
 'CurrentCity': 'Berlin',
 '': 'blank'}

In [20]:
'Berlin'

'Berlin'

In [21]:
GetKeyFromValue(details_dict,6.0)

'Height'

In [19]:
GetKeyFromValue(details_dict,1211)

In [108]:
#set : ordered collection of unique elements 

numbers=[1,21,34,54,23,23,1,34,21,12,134,245,2577,764]

In [109]:
set(numbers)

{1, 12, 21, 23, 34, 54, 134, 245, 764, 2577}

In [23]:
s1={1,2,3,'a','b','c'}

In [24]:
s2={4,3,2,'c','d','e'}

In [114]:
#operations 

#union
s1.union(s2)

{1, 2, 3, 4, 'a', 'b', 'c', 'd', 'e'}

In [115]:
#intersection

s1.intersection(s2)

{2, 3, 'c'}

In [116]:
#Set difference

s1.difference(s2)

{1, 'a', 'b'}

In [117]:
s2.difference(s1)

{4, 'd', 'e'}

In [27]:
#Repeat
s3 = {2,3,4}
s3*2

TypeError: unsupported operand type(s) for ** or pow(): 'set' and 'int'

In [119]:
#Indexin
s1[0]

TypeError: 'set' object is not subscriptable

In [121]:
s1[:3]

TypeError: 'set' object is not subscriptable

In [124]:
s1

{1, 2, 3, 'a', 'b', 'c'}

In [125]:
s1.add(4)

In [126]:
s1

{1, 2, 3, 4, 'a', 'b', 'c'}

In [128]:
s3={'A','a','B','b'}

In [129]:
s3

{'A', 'B', 'a', 'b'}

In [136]:
s1={1,2,3,"a","b","c"}
 
s1.add(4)
 
s2={2,3,4,5,"b","c","d"}
 
s3=s1.union(s2)

s3

{1, 2, 3, 4, 5, 'a', 'b', 'c', 'd'}

In [140]:
print (s3)

{1, 2, 3, 4, 5, 'a', 'c', 'd', 'b'}

In [143]:
s3

{1, 2, 3, 4, 5, 'a', 'b', 'c', 'd'}

In [ ]:
A-Z  65-90 

a-z 97-122 

0-9 48-57 

space 32

In [ ]:
#ASCII : American standard code for information interchange

In [146]:
ord('y')

121

In [150]:
chr(72)

'H'

In [ ]:
# Strings

In [151]:
s1='Hello'

s2="Hi"

s3='''heyy'''

In [153]:
s1

'Hello'

In [154]:
s2

'Hi'

In [155]:
s3

'heyy'

In [156]:
type(s1)

str

In [157]:
type(s2)

str

In [158]:
type(s3)

str

In [159]:
s1

'Hello'

In [160]:
s1*2  #Repeability

'HelloHello'

In [162]:
s1[0] #Indexing

'H'

In [163]:
s1[:4] #slicing

'Hell'

In [165]:
s1[0]='E'

TypeError: 'str' object does not support item assignment

In [166]:
s1.replace('H','E') #mutable

'Eello'

In [167]:
s1

'Hello'

In [168]:
s4="ABC1123"

s5="python"

s6="PYTHON"

s7="This is my world"

In [170]:
s1.replace('l','z')

'Hezzo'

In [171]:
#String functions 

s5

'python'

In [172]:
s5.upper()

'PYTHON'

In [173]:
s6

'PYTHON'

In [174]:
s6.lower()

'python'

In [175]:
s1

'Hello'

In [178]:
s4="ABC1123!!"

In [179]:
s4.isalnum()

False

In [181]:
s5.islower()

True

In [183]:
s6.isupper()

True

In [186]:
s8="123.445"

In [187]:
s8.isnumeric()

False

In [190]:
s5.capitalize()

'Python'

In [191]:
s9="PYthon"

In [5]:
s9 = "KaRtHi"

In [6]:
s9.casefold()

'karthi'

In [194]:
s7

'This is my world'

In [195]:
len(s7)

16

In [200]:
s10=input("enter a string : ")

enter a string :      yash         saxena

In [201]:
len(s10)

28

In [202]:
s10.strip()

'yash         saxena'

In [204]:
s9.swapcase()

'pyTHON'

In [209]:
s7.count('is')

2

In [208]:
s7

'This is my world'

In [210]:
s7.index('i')

2

In [ ]:
#Regular expressions : string search patterns

In [211]:
#WAP to input a sent and find the number of words in the sent 

sent=input("Enter a sentence : ")

#
num_of_words=sent.count(' ')+1
print (num_of_words)

Enter a sentence : This is Python Prog class on Edureka
7

In [213]:
#WAP to input a sent and store each word to a list  

sent=input("Enter a sentence : ")

#
list_of_words=sent.split(" ")
print (list_of_words)

Enter a sentence : This is Python Prog class on Edureka
['This', 'is', 'Python', 'Prog', 'class', 'on', 'Edureka']

In [214]:
#hackerrank

In [ ]:
#WAP to input space separated numbers as a string and convert them into a list of int

"43 45 23 665 78 34"

[43,45,23,665,78,34]

In [215]:
"43 45 23 665 78 34".split()

['43', '45', '23', '665', '78', '34']

In [ ]:
#List comprehension

In [216]:
nums=[1,2,3,4,5,6]

In [ ]:
#sq=[1,4,9,16,25,36]

In [217]:
sq=[]

for each in nums:
    sq.append(each**2)

In [218]:
sq

[1, 4, 9, 16, 25, 36]

In [219]:
nums

[1, 2, 3, 4, 5, 6]

In [223]:
s=[each**2 for each in nums]

In [224]:
s

[1, 4, 9, 16, 25, 36]

In [226]:
sq

[1, 4, 9, 16, 25, 36]

In [227]:
nums=[1,2,3,4,5,6,7,8,9,10]

#for odd numbers do the cube

ans=[]

for each in nums:
    if each%2==1:
        ans.append(each**3)

In [228]:
ans

[1, 27, 125, 343, 729]

In [229]:
#list comprehension

[each**3 for each in nums if each%2==1]

[1, 27, 125, 343, 729]

In [230]:
nums=[1,2,3,4,5,6,7,8,9,10]

#for odd numbers do the cube and for even do square 

ans=[]

for each in nums:
    if each%2==0:
        ans.append(each**2)
    else:
        ans.append(each**3)

In [231]:
ans

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [232]:
#list comprehension

[each**2 if each%2==0 else each**3 for each in nums]

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [233]:
45%2

1

In [234]:
10%4

2

In [ ]:
#WAP to input space separated numbers as a string and convert them into a list of int

"43 45 23 665 78 34"

[43,45,23,665,78,34]

In [242]:
inp=input("Enter space separated numbers : ")
list_of_elements=inp.split(" ")
list_of_ints=[int(each) for each in list_of_elements]

Enter space separated numbers : 24 24 13 156 245 12345 2

In [244]:
numbers=[int(each) for each in input("Enter space separated numbers : ").split(" ")]

Enter space separated numbers : 34 56 78 90 12 120

In [245]:
numbers

[34, 56, 78, 90, 12, 120]

In [255]:
#Functions 

#A block of code performing a specific task 

num=int(input("Enter a number :"))

        
EvenOROdd(num)

Enter a number :45
Odd

In [254]:
def EvenOROdd(n):
    if n%2==0:
        print ("Even")
    else:
        print ("Odd")

In [ ]:
user defined 

pre defined

In [250]:
print ("hello")

hello

In [ ]:
input()

In [251]:
numbers

[34, 56, 78, 90, 12, 120]

In [252]:
sum(numbers)

390

In [253]:
sorted(numbers)

[12, 34, 56, 78, 90, 120]

80.0

In [270]:
def SI(p,r,t):
    si=(p*r*t)/100
    
    return  (si)

In [275]:
p=1000
r=4
t=2
interest=SI(p,r,t)

amt=p+interest

In [276]:
amt

1080.0

In [284]:
#Can i return multiple values 


def SI(p,r,t):
    si=(p*r*t)/100
    amt=p+si
    
    return  {'SI':si,'Amount':amt}

In [1]:
response=SI(1000,3,4)

NameError: name 'SI' is not defined

In [290]:
response['SI']

float

In [2]:
response['Amount']

NameError: name 'response' is not defined

In [1]:
s = {1,2,3}

In [5]:
l = list(s)
l

[1, 2, 3]