# This is python's first session

In [2]:
print ("Hello World ")

Hello World

In [ ]:
#Shift + enter : run a cell

In [3]:
a=10
b=20
s=a+b
print(s)

30

In [4]:
#Variable : Are the names given to different part of the programs 


a=10

In [5]:
b="yash"

In [6]:
c=True

In [7]:
d=56.6

In [8]:
#Datatypes 

type(a)

int

In [9]:
type(b)

str

In [10]:
type(c)

bool

In [12]:
type(d)

float

In [ ]:
#list , tuple , set , dict , string ......

In [25]:
#Rules for naming a variable 

#1. Only a-z , A-Z , 0-9 and _ are allowed in a variable name

#2. Cannot start with a digit 

#3. It is case sensitive 

#4. Keywords are not allowed as variable names

In [13]:
name="yash"

In [14]:
Age=32

In [15]:
smoke=True

In [16]:
n1=34
n2=45

In [17]:
n_1=23
n_2=45

In [20]:
a=20
b=10

In [26]:
a/b

2.0

In [30]:
1_n=2

SyntaxError: invalid token (<ipython-input-30-3ccf8d509c3e>, line 1)

In [32]:
#Operators 


#Arithmetic + - / %  *

-10

In [38]:
a=10
b=6

In [39]:
a%b

4

In [46]:
#Relational 

a=100
b=300
c=100

In [41]:
a>b

False

In [42]:
a<b

True

In [43]:
a>=b

False

In [44]:
a<=b

True

In [45]:
a==b

False

In [47]:
a==c

True

In [48]:
a!=b

True

In [49]:
#Assignment Operators

a=10

In [51]:
a,b=10,20

In [54]:
a

10

In [55]:
b

20

In [56]:
# a=20, b=10

In [57]:
temp=a
a=b
b=temp

In [58]:
a

20

In [59]:
b

10

In [60]:
a=100
b=200

In [61]:
a,b=b,a

In [62]:
a

200

In [63]:
b

100

In [69]:
a=100

In [70]:
a+=10 #short hand assignment

In [71]:
a

110

In [73]:
a*=2

In [74]:
a

220

In [75]:
a/=5

In [76]:
a

44.0

In [ ]:
#Logical 
and or not 


#Membership Testing 

in 
not in 


#Bitwise

In [ ]:
#Comments : non executable statements 


#single line comment 
    #
    
#multiple lines comment

In [ ]:
''' 

This functions performs this task where 
input is : 


output is:

example: 

'''

Description