# Session 2

In [1]:
#WAP to input two numbers from a user and print their sum

In [1]:
a=int(input("Enter 1st number : "))
b=int(input("Enter 2nd number : "))

#typecasting

Enter 1st number : 1
Enter 2nd number : 1

In [3]:
print(a+b)

3

In [1]:
n=input("enter a number")

enter a number34

In [2]:
int(n)

34

In [ ]:
#Statements 

    # Conditional 
            #if 
            #if else
            #if - elif (s) 
            #if - elif (s) else
    
    #Iterative/looping
    
        # for 
        
        #while
        
        
    
    
    #Jump statements 
    
        # break
        #continue
        #return 
        #pass
        
        
        
#no switch case 

#no do while loop

In [ ]:
#If 

#WAP to input age of a person , if he/she is above  or equal 18 then say "Eligible to vote"

In [ ]:
int a
if a>=18:
    print ("Eligible to vote :")

In [ ]:
#Other lang 

if (a>=18)
{
     print ("Eligible to vote ")
    
}

In [ ]:
#In python 

a=int(input("enter the age :"))



if a>=18:
    print ("Eligible to vote ")
    print ("Successful")

In [ ]:
#WAP to input age of a person , if he/she is above  or equal 18 then say "Eligible to vote"
#else print "Not eligible to vote "

In [ ]:

a=int(input("enter the age :"))

if a>=18:
    print ("Eligible to vote ")
    print ("Successful")

else:
    print ("Not eligible to vote ")

In [ ]:
#WAP to input a numb from user and print whether it is Even or Odd

num=int(input("Enter a number:  "))
if num%2==0:
    print (num,"is Even")
else:
    print (num,"is Odd")

In [ ]:
# WAP to input a code from user and do the following 
    #Y --> "Yellow"
    #G --> "Green"
    #B --> "Black"
#else : print --> "Wrong choice entered "

In [ ]:
#input from user

In [ ]:
choice=input ("Enter a code: ")

if choice=="Y" or choice=="y":
    print ("Yellow ")
    
elif choice=="G" or choice=="g":
    print ("Green")
    
    
elif choice=="B" or choice=="b":
    print ("Black")
    
else:
    print ("Wrong choice entered ")

In [ ]:
#Divisiblity test

#WAP to input a num. user 

#Check whether is divisible by both 2 and 5 , or only 2 or niether by 2 nor 5 if not divisible ≠

In [ ]:
10 
≠

15

§
4

13 ni

In [ ]:
num=int(input("Enter a number:  "))
if num%2==0 and num%5==0:
    print (num,"is divisible by both 2 and 5 ")
elif num%2==0  : 
    print (num,"is divisible by 2 only ")
elif  num%5==0 :
    print (num,"is divisible by 5 only")
else:
    print (num,"is niether divisble by 2 nor 5 ")

In [ ]:
#Iterative Statements 

#for 

#while

In [ ]:
inp=input("Enter your input ( it can either be quit or a number ) :  ")

while inp != "quit":
    
    num=int(inp)

    if num%2==0 and num%5==0:
        print (num,"is divisible by both 2 and 5 ")
    elif num%2==0  : 
        print (num,"is divisible by 2 only ")
    elif  num%5==0 :
        print (num,"is divisible by 5 only")
    else:
        print (num,"is niether divisble by 2 nor 5 ")
    
    
    inp=input("Enter your input ( it can either be quit or a number ) :  ")

In [ ]:
inp = input("Enter your input: ")
while inp != "quit":
    num = int(inp)
    if num%3==0 and num%6==0:
        print(num,"is dividible by both 6 and 3")
    elif num%3==0:
        print(num,"is dividible by only 3")
    elif num%6==0:
        print(num,"is divisible by only 6")
    else:
        print(num,"is neither divisible by 3 nor 6")
    
    inp = input("Enter your input: ")

In [ ]:
10 100 10
10
20
30

In [6]:
i=0
    
while i<=100:
    i+=10
    print (i)

10
20
30
40
50
60
70
80
90
100
110

In [7]:
i

110

In [9]:
#list : is a type of sequence , hetrogenus collection of values 

numbers=[1,2,3,4,5]

names=['Yash','Sam','Prateek','Vikas','Anil']

details=['Yash', 'India', 32, 6.1 ]

In [10]:
type(names)

list

In [11]:
type(numbers)

list

In [12]:
type(details)

list

In [13]:
#0 based indexing 
names=['Yash','Sam','Prateek','Vikas','Anil']


print(names[3],names[2])

Vikas Prateek

In [14]:
#for loop : is mostly when the number of iterations or runs are known in advance 

names=['Yash','Sam','Prateek','Vikas','Anil']


for each_element in names:
    if 'a' in each_element:
        print (each_element,end="....")

Yash....Sam....Prateek....Vikas....

In [16]:
names=['Yash','Sam','Prateek','Vikas','Anil']
for x in names:
    if "s" in x:
        print(x,x*2)

Yash YashYash
Vikas VikasVikas

In [ ]:
#for loop : is mostly when the number of iterations or runs are known in advance 

numbers=[1,2,3,4,5]


for each_element in numbers:
    print (each_element,each_element*3,each_element**3)

In [ ]:
3**3

In [17]:
numbers=[1,2,3,4,5]


for each_element in numbers:
    if each_element%2==0:  #Even number 
        print (each_element,"Even",each_element**2) #Square
    else :
        print (each_element,"Odd",each_element**3) #Cube

1 Odd 1
2 Even 4
3 Odd 27
4 Even 16
5 Odd 125

In [18]:
details

['Yash', 'India', 32, 6.1]

In [19]:
for element in details:
    print (element,type(element))

Yash <class 'str'>
India <class 'str'>
32 <class 'int'>
6.1 <class 'float'>

In [ ]:
#Print the sqaures of 10 numbers in a list 

#For 

#while


# Take items from a user and store in a list 


bread
butter
milk
eggs
cheese

quit

In [20]:
l=[1,12,13,41,37,43,23,56,1,23,13,56,35,29,30]
for each in l:
    if each>14:
        
        print (each)

41
37
43
23
56
23
56
35
29
30

In [ ]:
l=[11,1,12,13,41,37,43,23,56,1,23,13,56,35,29,30]
for each in l:
    if each>14:
        break 
        
    print (each)

In [ ]:

inp=input("Enter your input ( it can either be quit or a number ) :  ")

while inp != "quit":
    
    num=int(inp)

    if num%2==0 and num%5==0:
        print (num,"is divisible by both 2 and 5 ")
    elif num%2==0  : 
        print (num,"is divisible by 2 only ")
    elif  num%5==0 :
        print (num,"is divisible by 5 only")
    else:
        print (num,"is niether divisble by 2 nor 5 ")
    
    
    inp=input("Enter your input ( it can either be quit or a number ) :  ")

In [ ]:


while True:
    
    inp=input("Enter your input ( it can either be quit or a number ) :  ")
    
    if inp=="quit":
        break
        
    num=int(inp)

    if num%2==0 and num%5==0:
        print (num,"is divisible by both 2 and 5 ")
    elif num%2==0  : 
        print (num,"is divisible by 2 only ")
    elif  num%5==0 :
        print (num,"is divisible by 5 only")
    else:
        print (num,"is niether divisble by 2 nor 5 ")
        
print ("User entered quit so came out ...")

In [24]:
l=[12,13,45,67,43,83,96,23,13,56,35,29,30]
for each in l:
    if each>60:
        pass
    print (each)

12
13
45
67
43
83
96
23
13
56
35
29
30

In [ ]:
pass 
return : functions

In [ ]:
numbers

In [ ]:
for each in numbers:
    pass

In [ ]:
#First modules 

#datatype

#variables

# operations

#comments 

#statements : conditional if  if-else if elif-else
                iterative

In [ ]:
Python's sequences 

#list


#tuples
#dict
#string
#set

In [25]:
l1=[]

In [26]:
type(l1)

list

In [27]:
l1.append(78)

In [28]:
l1

[78]

In [29]:
l1.append(85)

In [30]:
l1

[78, 85]

In [31]:
numbers_list=[]
for each in [1,2,3,4,5]:
    inp=int(input("Enter a num: "))
    numbers_list.append(inp)

Enter a num: 23
Enter a num: 34
Enter a num: 56
Enter a num: 78
Enter a num: 90

In [32]:
numbers_list

[23, 34, 56, 78, 90]

In [ ]:
friends = []
for x in [1,2,3,4,5]:
    inp = input("Enter your friends name: ")
    friends.append(inp)
    print(friends)

In [ ]:
numbers_list

In [ ]:
numbers_list=[]

while True:
    inp=input("Enter a num: ")
    if inp=="quit":
        break
    num=int(inp)
    numbers_list.append(num)

In [ ]:
numbers_list

In [ ]:
numbers_list=[45, 32, 67, 90, 120]

In [ ]:
numbers_list.append(89)

In [ ]:
numbers_list

In [ ]:
numbers_list.insert(1,213)

In [ ]:
numbers_list

In [ ]:
len(numbers_list)

In [ ]:
numbers_list.insert(1,213)

In [ ]:
numbers_list

In [ ]:
#adding an element 

    #index  # insert function 
    
    #towards the end as well  #append function 
     
    
    
#deleting an element 
    #index wise : pop function 
 
        #index
    
        #remove the value at last index 
        
    #vaalue : remove function

In [ ]:
numbers_list.pop()

In [ ]:
numbers_list

In [ ]:
numbers_list.pop()

In [ ]:
numbers_list.pop()

In [ ]:
numbers_list

In [ ]:
numbers_list.pop(0)

In [ ]:
numbers_list=[45, 213, 213, 32, 67, 90, 120]

In [ ]:
numbers_list.sort(reverse=True)

In [6]:
numbers_list=[45, 213, 213, 32, 67, 90, 120]

In [7]:
numbers_list.remove(45) #delete  element wise

In [8]:
numbers_list.remove(213)

In [9]:
numbers_list

[213, 32, 67, 90, 120]

In [10]:
numbers_list.pop(100)

IndexError: pop index out of range

In [11]:
numbers_list.clear()

In [12]:
numbers_list

[]

In [13]:
numbers_list=[213, 32, 67, 90, 120,213,89,34,32,67,213]

In [14]:
set(numbers_list
   
   )

{32, 34, 67, 89, 90, 120, 213}

In [15]:
numbers_list+[1,2,3,4,5]

[213, 32, 67, 90, 120, 213, 89, 34, 32, 67, 213, 1, 2, 3, 4, 5]

In [18]:
l1=[1, 2, 3, 4, 5]

In [19]:
numbers_list

[213, 32, 67, 90, 120, 213, 89, 34, 32, 67, 213]

In [20]:
numbers_list+l1

[213, 32, 67, 90, 120, 213, 89, 34, 32, 67, 213, 1, 2, 3, 4, 5]

In [21]:
numbers_list.extend(l1)

In [22]:
numbers_list

[213, 32, 67, 90, 120, 213, 89, 34, 32, 67, 213, 1, 2, 3, 4, 5]

In [23]:
numbers_list[1:4]   #subset

[32, 67, 90]

In [24]:
num_lis=[1,2,3,4]
nam_lit=['Alex','Tom','James','Nic']
num_lis+nam_lit

[1, 2, 3, 4, 'Alex', 'Tom', 'James', 'Nic']

In [25]:
num_lis.extend(nam_lit)

In [26]:
num_lis

[1, 2, 3, 4, 'Alex', 'Tom', 'James', 'Nic']

In [27]:
nam_lit

['Alex', 'Tom', 'James', 'Nic']