# Session 2

In [1]:
#WAP to input two numbers from a user and print their sum

In [5]:
a=int(input("Enter 1st number : "))
b=int(input("Enter 2nd number : "))

#typecasting

Enter 1st number : 45
Enter 2nd number : 56

In [6]:
print(a+b)

101

In [8]:
n=input("enter a number")

enter a number456

In [10]:
int(n)

456

In [ ]:
#Statements 

    # Conditional 
            #if 
            #if else
            # if - elif (s) 
            #if - elif (s) else
    
    #Iterative/looping
    
        # for 
        
        #while
        
        
    
    
    #Jump statements 
    
        # break
        #continue
        #return 
        #pass
        
        
        
#no switch case 

#do while loop

In [ ]:
#If 

#WAP to input age of a person , if he/she is above  or equal 18 then say "Eligible to vote"

In [15]:
if a>=18:
    print ("Eligible to vote ")

enter the age :9

In [ ]:
#Other lang 

if a>=18
{
     print ("Eligible to vote ")
    
}

In [17]:
#In python 

a=int(input("enter the age :"))



if a>=18:
    print ("Eligible to vote ")
    print ("Successful")

enter the age :32
Eligible to vote
Successful

In [ ]:
#WAP to input age of a person , if he/she is above  or equal 18 then say "Eligible to vote"
#else print "Not eligible to vote "

In [20]:

a=int(input("enter the age :"))

if a>=18:
    print ("Eligible to vote ")
    print ("Successful")

else:
    print ("Not eligible to vote ")

enter the age :45
Eligible to vote
Successful

In [26]:
#WAP to input a numb from user and print whether it is Even or Odd

num=int(input("Enter a number:  "))
if num%2==0:
    print (num,"is Even")
else:
    print (num,"is Odd")

Enter a number:  43212
43212 is Even

In [29]:
# WAP to input a code from user and do the following 
    #Y --> "Yellow"
    #G --> "Green"
    #B --> "Black"
#else : print --> "Wrong choice entered "

In [31]:
#input from user

Enter a code: Y

In [48]:
choice=input ("Enter a code: ")

if choice=="Y" or choice=="y":
    print ("Yellow ")
    
elif choice=="G" or choice=="g":
    print ("Green")
    
    
elif choice=="B" or choice=="b":
    print ("Black")
    
else:
    print ("Wrong choice entered ")

Enter a code: y
Yellow

In [ ]:
#Divisiblity test

#WAP to input a num. user 

#Check whether is divisible by both 2 and 5 , or only 2 or niether by 2 nor 5 if not divisible ≠

In [ ]:
10 
≠

15

§
4

13 ni

In [52]:
num=int(input("Enter a number:  "))
if num%2==0 and num%5==0:
    print (num,"is divisible by both 2 and 5 ")
elif num%2==0  : 
    print (num,"is divisible by 2 only ")
elif  num%5==0 :
    print (num,"is divisible by 5 only")
else:
    print (num,"is niether divisble by 2 nor 5 ")

Enter a number:  13
13 is niether divisble by 2 nor 5

In [ ]:
#Iterative Statements 

#for 

#while

In [54]:

inp=input("Enter your input ( it can either be quit or a number ) :  ")

while inp != "quit":
    
    num=int(inp)

    if num%2==0 and num%5==0:
        print (num,"is divisible by both 2 and 5 ")
    elif num%2==0  : 
        print (num,"is divisible by 2 only ")
    elif  num%5==0 :
        print (num,"is divisible by 5 only")
    else:
        print (num,"is niether divisble by 2 nor 5 ")
    
    
    inp=input("Enter your input ( it can either be quit or a number ) :  ")

Enter your input ( it can either be quit or a number ) :  34
34 is divisible by 2 only
Enter your input ( it can either be quit or a number ) :  20
20 is divisible by both 2 and 5
Enter your input ( it can either be quit or a number ) :  67
67 is niether divisble by 2 nor 5
Enter your input ( it can either be quit or a number ) :  quit

In [ ]:
10 100 10
10
20
30

In [55]:
i=10

while i<=100:
    print (i)
    i+=10

10
20
30
40
50
60
70
80
90
100

In [56]:
i

110

In [58]:
#list : is a type of sequence , hetrogenus collection of values 

numbers=[1,2,3,4,5]

names=['Yash','Sam','Prateek','Vikas','Anil']

details=['Yash', 'India', 32, 6.1 ]

In [59]:
type(names)

list

In [60]:
type(numbers)

list

In [61]:
type(details)

list

In [63]:
#0 based indexing 

names[2]

'Prateek'

In [69]:
#for loop : is mostly when the number of iterations or runs are known in advance 

names=['Yash','Sam','Prateek','Vikas','Anil']


for each_element in names:
    if 'a' in each_element:
        print (each_element,end="....")

Yash....Sam....Prateek....Vikas....

In [70]:
#for loop : is mostly when the number of iterations or runs are known in advance 

numbers=[1,2,3,4,5]


for each_element in numbers:
    print (each_element,each_element**2)

1 1
2 4
3 9
4 16
5 25

In [71]:
3**3

27

In [73]:
numbers=[1,2,3,4,5]


for each_element in numbers:
    if each_element%2==0:  #Even number 
        print (each_element,"Even",each_element**3) #Cube
    else :
        print (each_element,"Odd",each_element**2) #Square

1 Odd 1
2 Even 8
3 Odd 9
4 Even 64
5 Odd 25

In [74]:
details

['Yash', 'India', 32, 6.1]

In [76]:
for element in details:
    print (element,type(element))

Yash <class 'str'>
India <class 'str'>
32 <class 'int'>
6.1 <class 'float'>

In [ ]:
#Print the sqaures of 10 numbers in a list 

#For 

#while


# Take items from a user and store in a list 


bread
butter
milk
eggs
cheese

quit

In [79]:
l=[12,13,45,67,43,23,56,23,13,56,35,29,30]
for each in l:
    if each>60:
        break
        
    print (each)

12
13
45

In [80]:

inp=input("Enter your input ( it can either be quit or a number ) :  ")

while inp != "quit":
    
    num=int(inp)

    if num%2==0 and num%5==0:
        print (num,"is divisible by both 2 and 5 ")
    elif num%2==0  : 
        print (num,"is divisible by 2 only ")
    elif  num%5==0 :
        print (num,"is divisible by 5 only")
    else:
        print (num,"is niether divisble by 2 nor 5 ")
    
    
    inp=input("Enter your input ( it can either be quit or a number ) :  ")

Enter your input ( it can either be quit or a number ) :  89
89 is niether divisble by 2 nor 5
Enter your input ( it can either be quit or a number ) :  34
34 is divisible by 2 only
Enter your input ( it can either be quit or a number ) :  45
45 is divisible by 5 only
Enter your input ( it can either be quit or a number ) :  quit

In [87]:


while False:
    
    inp=input("Enter your input ( it can either be quit or a number ) :  ")
    
    if inp=="quit":
        break
        
    num=int(inp)

    if num%2==0 and num%5==0:
        print (num,"is divisible by both 2 and 5 ")
    elif num%2==0  : 
        print (num,"is divisible by 2 only ")
    elif  num%5==0 :
        print (num,"is divisible by 5 only")
    else:
        print (num,"is niether divisble by 2 nor 5 ")
        
print ("User entered quit so came out ...")

User entered quit so came out ...

In [98]:
l=[12,13,45,67,43,83,96,23,13,56,35,29,30]
for each in l:
    if each>60:
        pass
        
    print (each)

12
13
45
67
43
83
96
23
13
56
35
29
30

In [ ]:
pass 
return : functions

In [90]:
numbers

[1, 2, 3, 4, 5]

In [92]:
for each in numbers:
    pass

In [ ]:
#First modules 

#datatype

#variables

# operations

#comments 

#statements : conditional if  if-else if elif-else
                iterative

In [ ]:
Python's sequences 

#list


#tuples
#dict
#string
#set

In [99]:
l1=[]

In [100]:
type(l1)

list

In [103]:
l1.append(78)

In [104]:
l1

[78]

In [105]:
l1.append(85)

In [106]:
l1

[78, 85]

In [108]:
numbers_list=[]
for each in [1,2,3,4,5]:
    inp=int(input("Enter a num: "))
    numbers_list.append(inp)

Enter a num: 45
Enter a num: 32
Enter a num: 67
Enter a num: 90
Enter a num: 120

In [109]:
numbers_list

[45, 32, 67, 90, 120]

In [112]:
numbers_list=[]

while True:
    inp=input("Enter a num: ")
    if inp=="quit":
        break
    num=int(inp)
    numbers_list.append(num)

Enter a num: 11
Enter a num: 11
Enter a num: 11
Enter a num: quit

In [115]:
numbers_list=[45, 32, 67, 90, 120]

In [117]:
numbers_list.append(89)

In [118]:
numbers_list

[45, 32, 67, 90, 120, 89]

In [119]:
numbers_list.insert(1,213)

In [120]:
numbers_list

[45, 213, 32, 67, 90, 120, 89]

In [121]:
len(numbers_list)

7

In [122]:
numbers_list.insert(1,213)

In [123]:
numbers_list

[45, 213, 213, 32, 67, 90, 120, 89]

In [ ]:
#adding an element 

    #index  # insert function 
    
    #towards the end as well  #append function 
     
    
    
#deleting an element 
    #index wise : pop function 
 
        #index
    
        #remove the value at last index 
        
    #vaalue : remove function

In [125]:
numbers_list.pop()

89

In [127]:
numbers_list

[45, 213, 213, 32, 67, 90, 120]

In [128]:
numbers_list.pop()

120

In [130]:
numbers_list.pop()

90

In [131]:
numbers_list

[45, 213, 213, 32, 67]

In [132]:
numbers_list.pop(0)

45

In [134]:
numbers_list=[45, 213, 213, 32, 67, 90, 120]

In [138]:
numbers_list.sort(reverse=True)

[213, 213, 120, 90, 67, 45, 32]

In [140]:
numbers_list=[45, 213, 213, 32, 67, 90, 120]

In [142]:
numbers_list.remove(45) #delete  element wise

ValueError: list.remove(x): x not in list

In [144]:
numbers_list.remove(213)

In [145]:
numbers_list

[213, 32, 67, 90, 120]

In [146]:
numbers_list.pop(100)

IndexError: pop index out of range

In [147]:
numbers_list.clear()

In [148]:
numbers_list

[]

In [150]:
numbers_list=[213, 32, 67, 90, 120,213,89,34,32,67,213]

In [151]:
set(numbers_list
   
   )

{32, 34, 67, 89, 90, 120, 213}

In [153]:
numbers_list+[1,2,3,4,5]

[213, 32, 67, 90, 120, 213, 89, 34, 32, 67, 213, 1, 2, 3, 4, 5]

In [154]:
l1

[78, 85]

In [155]:
numbers_list

[213, 32, 67, 90, 120, 213, 89, 34, 32, 67, 213]

In [156]:
numbers_list+l1

[213, 32, 67, 90, 120, 213, 89, 34, 32, 67, 213, 78, 85]

In [157]:
numbers_list.extend(l1)

In [158]:
numbers_list

[213, 32, 67, 90, 120, 213, 89, 34, 32, 67, 213, 78, 85]

In [160]:
numbers_list[1:4]   #subset

[32, 67, 90]

In [161]:
num_lis=[1,2,3,4]
nam_lit=['Alex','Tom','James','Nic']
num_lis+nam_lit

[1, 2, 3, 4, 'Alex', 'Tom', 'James', 'Nic']

In [162]:
num_lis.extend(nam_lit)

In [163]:
num_lis

[1, 2, 3, 4, 'Alex', 'Tom', 'James', 'Nic']

In [164]:
nam_lit

['Alex', 'Tom', 'James', 'Nic']