In [1]:
#list comprehension 
    #only one operation 
    

#one more way of writing a for loop

In [2]:
numbers=[13,15,12,19,20]

In [3]:
[(each,"Even") for each in numbers if each%2==0 ]

[(12, 'Even'), (20, 'Even')]

In [4]:
[(each,"Even") if each%2==0 else (each,"Odd") for each in numbers  ]

[(13, 'Odd'), (15, 'Odd'), (12, 'Even'), (19, 'Odd'), (20, 'Even')]

In [5]:
#Functions 

def SI ( p,r,t):
    si=round((p*r*t)/100,2)
    amt=si+p
    return si,amt

In [10]:
s,a=SI(1000,3,2)

In [11]:
a

1060.0

In [12]:
s

60.0

In [ ]:
#Scope of a variable 

#Lambda Functions

#Predefined/User defined  
    #zip
    #enumerate
    #map
    #filter 
    #reduce : 
    
#Parameters/Arguments to the function 

#Modules 


#File operations




#Class and Objects 

#Principle of OOP

In [ ]:
#intro pandas and numpy  mod5
#data visalization mod 6
#data manipulation mod 7 

#DS usecase

In [13]:
#Scope of a variable

In [26]:
age=32  # global

In [27]:
def Add10Years(a): #local
    print ("Current age: ",a)
    print ("After 10 years : ",a+10)

In [28]:
Add10Years(23)

Current age:  23
After 10 years :  33

In [23]:
# global variable is accessible inside the func 

# local variable cannot be accessed outside the func

In [29]:
a

NameError: name 'a' is not defined

In [30]:
def Add10Years(age): #local
    print ("Current age: ",age)
    print ("After 10 years : ",age+10)

In [31]:
Add10Years(35)

Current age:  35
After 10 years :  45

In [32]:
age

32

In [57]:
age=32

def Add10Years(): 
    global age
    
    print ("Current age: ",age)
    age=age+10
    print ("After 10 years : ",age)

In [58]:
Add10Years()

Current age:  32
After 10 years :  42

In [59]:
age

42

In [60]:
#lambda 
def SI ( p,r,t):
    si=round((p*r*t)/100,2)
    return si

In [62]:
si_lambda=lambda p,r,t : round((p*r*t)/100,2)

In [63]:
si_lambda(1000,3,2)

60.0

In [ ]:
number=5


[1,5]

10
[1,2,5,10]

In [66]:
get_factors=lambda x : [each for each in range(1,x+1) if x%each==0]

In [67]:
get_factors(5)

[1, 5]

In [68]:
get_factors(10)

[1, 2, 5, 10]

In [69]:
number=10

factors=[]
for each in range(1,number+1):
    if number%each==0:
        factors.append(each)
        
factors

[1, 2, 5, 10]

In [70]:
def GET_FACTORS(number):
    factors=[]
    for each in range(1,number+1):
        if number%each==0:
            factors.append(each)
        
    return factors

In [71]:
GET_FACTORS(10)

[1, 2, 5, 10]

In [72]:
get_factors=lambda x : [each for each in range(1,x+1) if x%each==0]

In [73]:
get_factors(10)

[1, 2, 5, 10]

In [74]:
get_factors(100)

[1, 2, 4, 5, 10, 20, 25, 50, 100]

In [ ]:
#User / Pre

In [75]:
print ("Hi hello world")

Hi hello world

In [76]:
sum([1,2,3,4,5])

15

In [78]:
sorted( [4,2,1,5,6,3,2,6,7,8,9,2,3,4],reverse=True)

[9, 8, 7, 6, 6, 5, 4, 4, 3, 3, 2, 2, 2, 1]

In [ ]:
range()

In [ ]:
range()
zip
enumerate 
map 
filter 
reduce

In [79]:
range(10)

range(0, 10)

In [80]:
range(2,10)

range(2, 10)

In [81]:
range(2,20,3)

range(2, 20, 3)

In [82]:
# range(start,stop,step)

In [83]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(2,20,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
#WAP to enter two numbers from the user , start and stop 

#Between these two numbers including the numbers on a step of 5 , print factors of each numbers 

e.g :
    start=3
    stop=6
    
    3 [1,3]
    4 [1,2,4]
    5 [1,5]
    6 [1,2,3,6]
    
    start=10
    stop=100
    step=5

In [90]:
start=int(input("enter start : "))
stop=int(input("enter stop : "))
step=int(input("enter step : "))

enter start : 10
enter stop : 100
enter step : 5

In [91]:
for each in range(start,stop+1,step):
    print (each,"---->",get_factors(each))

10 ----> [1, 2, 5, 10]
15 ----> [1, 3, 5, 15]
20 ----> [1, 2, 4, 5, 10, 20]
25 ----> [1, 5, 25]
30 ----> [1, 2, 3, 5, 6, 10, 15, 30]
35 ----> [1, 5, 7, 35]
40 ----> [1, 2, 4, 5, 8, 10, 20, 40]
45 ----> [1, 3, 5, 9, 15, 45]
50 ----> [1, 2, 5, 10, 25, 50]
55 ----> [1, 5, 11, 55]
60 ----> [1, 2, 3, 4, 5, 6, 10, 12, 15, 20, 30, 60]
65 ----> [1, 5, 13, 65]
70 ----> [1, 2, 5, 7, 10, 14, 35, 70]
75 ----> [1, 3, 5, 15, 25, 75]
80 ----> [1, 2, 4, 5, 8, 10, 16, 20, 40, 80]
85 ----> [1, 5, 17, 85]
90 ----> [1, 2, 3, 5, 6, 9, 10, 15, 18, 30, 45, 90]
95 ----> [1, 5, 19, 95]
100 ----> [1, 2, 4, 5, 10, 20, 25, 50, 100]

In [98]:
#zip function 

names=['Yash','Sam','Prateek','Sahil']

salary=[100,200,300,400,500,600]

mob=[1234,3456,6789,9080]

[('Yash',100),
('Sam',200),
...]


{'Yash':100,
'Sam':200,
...}

In [ ]:
{'Yash':(100,1234),'Sam'...}

In [101]:
list(zip(names,salary,mob))

[('Yash', 100, 1234),
 ('Sam', 200, 3456),
 ('Prateek', 300, 6789),
 ('Sahil', 400, 9080)]

In [102]:
dict(zip(names,salary,mob))

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [104]:
dict(zip(names,list(zip(salary,mob))))

{'Yash': (100, 1234),
 'Sam': (200, 3456),
 'Prateek': (300, 6789),
 'Sahil': (400, 9080)}

In [106]:
names=['Yash','Sam','Prateek','Sahil']

salary=[100,200,300,400]

mob=[1234,3456,6789,9080]

In [111]:
list(zip(['Sal']*len(salary) ,salary))

[('Sal', 100), ('Sal', 200), ('Sal', 300), ('Sal', 400)]

In [ ]:
{"Yash":{'salary':100,
        'mob':8979},
"Sam":{'salary':200}}

In [113]:
list(enumerate(names,12))

[(12, 'Yash'), (13, 'Sam'), (14, 'Prateek'), (15, 'Sahil')]

In [114]:
#for loop on a seq 
#you want the index parallely 

num=[23,34,54,21,67,56,23,43,32,23]

In [117]:
for index,each in enumerate(num):
    print (each,index)

23 0
34 1
54 2
21 3
67 4
56 5
23 6
43 7
32 8
23 9

In [122]:
num=[23,34,54,21,67,56,23,43,32,23,34,34,34]

In [123]:
search_num=34

[index for index,each in enumerate(num) if each==search_num]

[1, 10, 11, 12]

In [ ]:
#map function 

map(function,sequence)

In [6]:
num=[1,2,3,4,5] 
#sequence 


#function
def IsEven(n):
    if n%2==0:
        return "Even"
    return "Odd"

In [128]:
list(map(IsEven,num))

['Odd', 'Even', 'Odd', 'Even', 'Odd']

'Odd'

In [135]:
weekdays=['Monday Hectic','Tuesday trauma',
          'Wednesday war','Thursday thrill','Friday fun',
          'saturday party','sunday settle']

In [136]:
[each.split()[1] for each in weekdays]

['Hectic', 'trauma', 'war', 'thrill', 'fun', 'party', 'settle']

In [134]:
list(map(lambda x: x.split()[1],weekdays))

['Hectic', 'trauma', 'war', 'thrill', 'fun', 'party', 'settle']

In [139]:
# "Monday hectic".split( )

In [141]:
#Filter 

num=[1,2,3,4,5] 
#sequence 


#function
def IsEven(n):
    if n%2==0:
        return True
    return False

In [ ]:
filter(function,seq)

In [143]:
list(filter(IsEven,num))

[2, 4]

In [144]:
list(map(IsEven,num))

[False, True, False, True, False]

In [148]:
#Params/ Arguments 

def Print(a,b,c,d):
    print ("Val for a =",a)
    print ("Val for b= ",b)
    print ("Val for c= ",c)
    print ("Val for d= ",d)

In [149]:
Print(100,200,300,400)

Val for a = 100
Val for b=  200
Val for c=  300
Val for d=  400

In [150]:
#change the order 
Print ( c=100,a=200,d=300,b=400)

Val for a = 200
Val for b=  400
Val for c=  100
Val for d=  300

In [151]:
Print (c=100,b=200,300,400)

SyntaxError: positional argument follows keyword argument (<ipython-input-151-2876fdc9bbeb>, line 1)

In [155]:
Print ( 300,400,c=100,b=200)

TypeError: Print() got multiple values for argument 'b'

In [1]:
#Default arguments

def Print(a,b,c,d=90):
    print ("Val for a =",a)
    print ("Val for b= ",b)
    print ("Val for c= ",c)
    print ("Val for d= ",d)

In [2]:
Print(34,24,23)

Val for a = 34
Val for b=  24
Val for c=  23
Val for d=  90

In [3]:
Print(34,24,23,66)

Val for a = 34
Val for b=  24
Val for c=  23
Val for d=  66

In [159]:
#Variable length argument 

    #Non keyworded 
    
    #Keyworded 
    

def Print(a,b,c,d,*e):
    print ("Val for a =",a)
    print ("Val for b= ",b)
    print ("Val for c= ",c)
    print ("Val for d= ",d)
    print ("Val for e= ",e)

In [160]:
Print(100,200,300,400,500,6,4,3,4,5,6,3,2,'a','b','c',True,455.55)

Val for a = 100
Val for b=  200
Val for c=  300
Val for d=  400
Val for e=  (500, 6, 4, 3, 4, 5, 6, 3, 2, 'a', 'b', 'c', True, 455.55)

In [161]:
def Print(a,b,c,d,*e,**f):
    print ("Val for a =",a)
    print ("Val for b= ",b)
    print ("Val for c= ",c)
    print ("Val for d= ",d)
    print ("Val for e= ",e)
    print ("Val for f= ",f)

In [163]:
Print(100,200,300,400,500,6,4,3,4,5,6,3,2,'a','b','c',True,455.55,name="Yash",sal=100,mob=13)

Val for a = 100
Val for b=  200
Val for c=  300
Val for d=  400
Val for e=  (500, 6, 4, 3, 4, 5, 6, 3, 2, 'a', 'b', 'c', True, 455.55)
Val for f=  {'name': 'Yash', 'sal': 100, 'mob': 13}

In [ ]:
def Func(*args,**kwargs):

In [ ]:
map()

In [166]:
list(zip([24,25,26,27],[150,155,159]))

[(24, 150), (25, 155), (26, 159)]

In [167]:
#modules 

import Calculator

In [168]:
Calculator.Add(34,45)

79

In [169]:
Calculator.Sub(99,3)

96

In [170]:
Calculator.Mul(100,3)

300

In [171]:
import Calculator as c

In [172]:
c.Add(34,34)

68

In [173]:
c.Sub(23,234)

-211

In [174]:
c.Mul(123,123)

15129

In [178]:
from Calculator import Add,Sub

In [177]:
Add(3,4)

7

In [179]:
Sub(99,3)

96

In [175]:
import time
import os 
import sys
import json
import datetime
import random

In [180]:
from functools import reduce

In [181]:
from sklearn.linear_model import LogisticRegression

from  sklearn.metrics import accuracy_score

In [182]:
import Interest

ModuleNotFoundError: No module named 'Interest'

In [185]:
import sys

In [186]:
sys.path

['/Users/apple/Desktop/data/Python. 28Dec',
 '/Users/apple/anaconda3/lib/python37.zip',
 '/Users/apple/anaconda3/lib/python3.7',
 '/Users/apple/anaconda3/lib/python3.7/lib-dynload',
 '',
 '/Users/apple/anaconda3/lib/python3.7/site-packages',
 '/Users/apple/anaconda3/lib/python3.7/site-packages/aeosa',
 '/Users/apple/anaconda3/lib/python3.7/site-packages/IPython/extensions',
 '/Users/apple/.ipython']

In [187]:
sys.path.append('/Users/apple/Desktop/abc')

In [192]:
sys.path.pop()

'/Users/apple/Desktop/abc'

In [193]:
import Interest

In [191]:
Interest.si_lambda(23334,2,3)

1400.04

In [194]:
sys.path

['/Users/apple/Desktop/data/Python. 28Dec',
 '/Users/apple/anaconda3/lib/python37.zip',
 '/Users/apple/anaconda3/lib/python3.7',
 '/Users/apple/anaconda3/lib/python3.7/lib-dynload',
 '',
 '/Users/apple/anaconda3/lib/python3.7/site-packages',
 '/Users/apple/anaconda3/lib/python3.7/site-packages/aeosa',
 '/Users/apple/anaconda3/lib/python3.7/site-packages/IPython/extensions',
 '/Users/apple/.ipython']

In [ ]:
#csv json xlsx

#txt

In [234]:
#File Operations 


#txt 

#Even if the file is not exiting and you open it in a write mode, it is going to create a file 
f=open("Greeting.txt",'w')
f.write("Welcome to python Prog ")
f.close()

In [198]:
open(location of file,mode)

In [228]:
f=open("Greeting.txt",'w')
f.write("from Edureka")
f.close()

In [201]:
f=open("Greeting.txt",'a')
f.write("from Edureka")
f.close()

In [202]:
f=open("Greeting.txt",'a')
f.write("\nThis will cover python basics.")
f.close()

In [206]:
f=open("Greeting.txt",'r')
content=f.read()
f.close()

In [204]:
content

'Welcome to python Prog from Edureka\nThis will cover python basics.'

In [207]:
file_location="/Users/apple/Desktop/abc/Welcome.txt"

In [208]:
f=open(file_location,'r')
content=f.read()
f.close()

In [209]:
content

'Welcome to python Prog from Edureka\nThis will cover python basics.'

In [ ]:
modes

w
a 
r 

w+ write and read 
a+ append or write
r+ read or write


#binary 

wb
ab 
rb 

wb+ write and read 
ab+ append or write
rb+ read or write

In [235]:
f=open("Greeting.txt",'r+')

In [236]:
f.tell() #tells the position of cursor

0

In [237]:
content=f.read()

In [239]:
content

'Welcome to python Prog '

In [242]:
f.tell()

23

In [243]:
f.seek(11)

11

In [244]:
f.write("Edureka's Python Prog")

21

In [245]:
f.close()